body {
	font-family: 'Monaco', monospace;
	line-height: 1.25;
	font-size: 18px;
	color:#000000;
	text-align: center;
	background-color: #FFB6C1;
}	
form {
	color: black;
	background-color: #fff8e7;
	padding: 14px 21px;
	margin: 7px 2%;
	border: 2px;
	border-radius: 6px;
}
h1 {
	color: black;
	margin-bottom: 4%
	text-align: right-side;
}